<div class="contenedor">
  <div class="botonAuxiliar">
    <button
      mat-raised-button
      routerLink="/modulos"
      style="color: #0bb0f2; border: 1px solid #0bb0f2"
    >
      <mat-icon style="font-weight: 600">subdirectory_arrow_left</mat-icon>
      Modulos
    </button>
  </div>
  <div class="listaColaboradores">
    <h3>Hijos de {{ nombreColaborador() }}</h3>
    @for (hijo of listaHijos(); track $index) {
    <button
      mat-raised-button
      [routerLink]="[
        '/perfil-sociodemografico',
        param,
        'hijos',
        hijo.identificacionHijo
      ]"
      style="
        margin: 1vh;
        color: black;
        border: 1px solid #0bb0f2;
        justify-content: left;
      "
    >
      {{ $index + 1 }}. {{ hijo.nombreHijo }}
    </button>
    }
    <mat-divider style="margin-bottom: 4vh; margin-top: 1vh"></mat-divider>
  </div>
  <div class="botonAuxiliar">
    <button
      mat-raised-button
      [routerLink]="['/perfil-sociodemografico', param, 'hijos', 'crearHijo']"
      style="color: #0bb0f2; border: 1px solid #0bb0f2"
    >
      <mat-icon style="color: rgb(0, 200, 0)">person_add</mat-icon>
      Crear Hijo
    </button>
  </div>
</div>
