.contenedor {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.listaColaboradores {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.botonAuxiliar {
  display: flex;
  min-width: 14vw;
  justify-content: center;
}
