.contenedor {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.formulario form > * {
  margin-bottom: 2vh;
}

.botonesAuxiliares {
  display: flex;
  flex-direction: column;
  width: 14vw;
  justify-content: center;
  text-align: center;
}

.botonesAuxiliares p {
  margin-top: 2vh;
}
