.contenidoLogin {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0bb0f2;
  border-radius: 50px;
  padding: 2.5vw;
  box-shadow: 0px 6px 8px 1px #b1b1b1;
}

.inputs {
  width: 20vw;
}
