<mat-card class="cards" appearance="outlined">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]="{
        'background-image': 'url(' + perfilImg + ')',
        'background-size': 'cover',
        'background-position': 'center'
      }"
    ></div>
    <mat-card-title style="color: #0bb0f2; font-weight: 500">{{
      titulo
    }}</mat-card-title>
    <mat-card-subtitle style="color: #0091ca">{{
      subtitulo
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="text-align: center; margin-top: 1vh; font-size: small">
      {{ contenido }}
    </p>
  </mat-card-content>
  <a
    mat
    mat-raised-button
    [href]="href"
    style="margin: 1.5vh; border: 1px solid #0bb0f2; color: #0bb0f2"
  >
    Ingresar
  </a>
</mat-card>
