<div class="contenedor">
  <div class="botonAuxiliar">
    <button
      mat-raised-button
      routerLink="/modulos"
      style="color: #0bb0f2; border: 1px solid #0bb0f2"
    >
      <mat-icon style="font-weight: 600">subdirectory_arrow_left</mat-icon>
      Modulos
    </button>
  </div>
  <div class="listaColaboradores">
    @for (area of areas; track $index) {
    <h3>{{ area.replaceAll("_", " ") }}</h3>
    @for (colaborador of listaColaboradores(); track $index) { @if
    (colaborador.activo === true && colaborador.area === area) {
    <button
      mat-raised-button
      [routerLink]="['/colaboradores', colaborador.numeroIdentificacion]"
      style="
        margin: 1vh;
        color: black;
        border: 1px solid #0bb0f2;
        justify-content: left;
      "
    >
      {{ $index + 1 }}. {{ colaborador.primerNombre }}
      {{ colaborador.segundoNombre }} {{ colaborador.primerApellido }}
      {{ colaborador.segundoApellido }} - {{ colaborador.cargo }}
    </button>
    } }
    <mat-divider style="margin-bottom: 4vh; margin-top: 1vh"></mat-divider>
    }
  </div>
  <div class="botonAuxiliar">
    <button
      mat-raised-button
      [routerLink]="['/colaboradores/crearUsuario']"
      style="color: #0bb0f2; border: 1px solid #0bb0f2"
    >
      <mat-icon style="color: rgb(0, 200, 0)">person_add</mat-icon>
      Crear Usuario
    </button>
  </div>
</div>
