<div class="contenedor">
  <div class="botones">
    <button
      mat-raised-button
      [routerLink]="['/jornadas-laborales']"
      style="color: #0bb0f2; border: 1px solid #0bb0f2"
    >
      <mat-icon style="font-weight: 600">subdirectory_arrow_left</mat-icon>
      Jornadas Laborales
    </button>
  </div>
  <div class="formulario">
    <form>hello</form>
  </div>
  <div class="botones">
    <button
      mat-raised-button
      routerLink="/modulos"
      style="color: #0bb0f2; border: 1px solid #0bb0f2"
    >
      <mat-icon style="font-weight: 600">subdirectory_arrow_left</mat-icon>
      Módulos
    </button>
  </div>
</div>
